header .banner {
    margin-top: 50px;
}

.login {
    font-weight: 1000;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    color: #3D3D3D;
}

label {
    margin: 2em 0 1em 0;
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

a {
    color: #3D3D3D;
    text-align: center;
}

form p {
    position: relative;
    bottom: 120px;
    text-align: center;
    font-size: 13px;
    color: red;
}
